
<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">
    <div class="menu_dropdown bk_2" id="menus">
        <% for(var i= 0 ; i<menuList.length ; i++){
            var menuList_I=menuList[i];
        %>
        <%if(i==0){%>
        <dl>
            <dt ><i class="Hui-iconfont">&#xe63c;</i> <%= menuList[0].strMenuName%><i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd >
                <ul>
         <%}else if(menuList_I.strMenuUrl!=""){%>
                    <% if(i==menuList.length-1){%>
                                <li ><a href="<%= menuList_I.strMenuUrl%>" title="<%= menuList_I.strMenuName%>"><%= menuList_I.strMenuName%></a></li>
                            </ul>
                        </dd>
                    </dl>
                    <%}else{%>
                        <li ><a href="<%= menuList_I.strMenuUrl%>" title="<%= menuList_I.strMenuName%>"><%= menuList_I.strMenuName%></a></li>
                     <%}%>
                    <%} else if(menuList_I.strMenuUrl==""){%>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt ><i class="Hui-iconfont">&#xe63c;</i> <%= menuList_I.strMenuName%><i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd >
                <ul>
            <%}%>
        <%}%>
         <dl>
            <dt class="<%= manager%>"><i class="Hui-iconfont">&#xe63c;</i> 管理员信息<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd style="display: <%= managerdisplay%>">
                <ul>
                    <li class="<%= areamanager%>"><a href="/city/manager/areamanager" title="区域管理员">区域管理员</a></li>
                    <li class="<%= citymanager%>"><a href="/city/manager/citymanager" title="城市组管理员">城市组管理员</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt class="<%= roles%>"><i class="Hui-iconfont">&#xe63c;</i> 角色管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd style="display: <%= roledisplay%>">
                <ul>
                    <li class="<%= rolemanager%>"><a href="/city/manager/test" title="角色管理">角色管理</a></li>
                </ul>
            </dd>
        </dl>

        <dl>
            <dt class="<%= departments%>"><i class="Hui-iconfont">&#xe63c;</i> 部门管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd style="display: <%= departmentdisplay%>">
                <ul>
                    <li class="<%= departmentmanager%>"><a href="/city/department/department" title="部门管理">部门管理</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->
